{% extends "layout.html" %}


{% block content %}

<title>Bienvenidos a pagina de waves</title>


<body>

<div> <h1> ¿Qué son las criptomonedas? </h1> 

<p>
Son activos digitales , es decir , que su precio varia con el tiempo, La principal caracteristica de las criptomonedas es que su moneda se usa como forma de pago para realizar las transacciones dentro de su ecosistema.

En el mundo de la tecnología blockchain existen diferencias entre un token y una criptomoneda.
        
</p>  
        
</div>

    
<div> <h1> ¿Qué es un token? </h1> 

<p>
    Es una moneda digital la cual no posee su cadena de bloques, es decir, que no posee un ecosistema propio para realizar 
    
    las transacciones y depende de una criptomoneda para poder realizar cada una de las operaciones en la red.
</p>  
                    
</div>

<div> <h1> ¿Qué es una criptomoneda? </h1> 

<p>
Es aquella que posee una cadena de bloques donde se realizan cada una de las transacciones y las comisiones se pagan en esta misma moneda.

 

La característica principal es que posee un ecosistema propio y no depende de otras monedas para realizar transacciones en la red.

</p>  
                                
</div>




</body>

{% endblock  %}