body{
   
background: #ad5389;  
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
background: linear-gradient(to right, #3c1053, #ad5389); 



}

/*Disenio de la barra superior del menu---------------------------------------------------------------------------------------------------------- */

.menu{

width: 900px;
    
margin:auto;
    
  
}
    
/*Disenio de la barra superior del menu---------------------------------------------------------------------------------------------------------- */
 
.menu nav{
    
float:right;

}
    
/* mover de sitio */ 

.menu nav ul li {
    
list-style: none;
       
padding: 15px 0;
    
float:left;
    
margin-right: 40px;

margin-left: 1px;

}

    
/*Disenio de la barra superior del menu---------------------------------------------------------------------------------------------------------- */
  
.menu nav ul li a {
    
text-decoration: none;  
    
font-weight: bold;
    
color:rgb(172, 172, 255);

font-family: cursive;    

position: relative;

padding: 8px;

border-radius: 20px;

}    

    
/*Disenio de la barra superior del menu---------------------------------------------------------------------------------------------------------- */

header{
    
text-decoration: none; 

background: rgb(24, 24, 24);

width: 100%;

margin-left: auto;

margin-right: auto;

text-align: center;    
 
clear:both;
    
content: '';
    
display: table;
    
}

a2{

    color: white;
    
    border:none;
        
    border-radius: 8px;
    
    text-transform: uppercase;
        
    display: inline-flex;
    
    
    font-family: 'roboto',sans-serif;
        
    text-align: center;
    
    /*Editar tamanio de las casillas de la barra -----------------------------------------------------------------------------------------------------------*/
    font-size: 17px;
        
    font-weight: 15px;
        
    height: 25px;
    
    width: 100%;
    
    cursor:pointer;
        
    text-transform: uppercase;
        
    transition:.4s ease all;
        
    position: relative;
        
    overflow: hidden;
    
    color: white;
    
    
    }
    
    /*Disenio de el efecto para el decorado del menu---------------------------------------------------------------------------------------------------------- */
    
    a2::after{
        
    content: "";
      
    width: 100%;
        
    height: 100%;
        
   background-color: #ffffff;
       
    position:absolute;
        
    z-index: 1;
        
    top: -70px;
        
    left: 0;
        
    transition: .4s ease-in-out all;
    
    color: white;
        
    }
    
    /*Disenio de el efecto para el decorado del menu---------------------------------------------------------------------------------------------------------- */
    
    a2 span{
        
    position: relative;
        
    z-index: 2;
        
    transition: .4s ease all;
    
    }
        
    /*Disenio de el efecto para el decorado del menu---------------------------------------------------------------------------------------------------------- */    
    a2:hover::after{
        
    top: 0;
    }



ul, ol {

    list-style: none;
}



.menu li a{

text-decoration: none;   

text-decoration: none;

text-align: center;

}


.menu > li {

float:left;

}

/*
min-width: 200px;*/


.menu li ul{

display:none;

position:absolute;

background-color: rgb(24, 24, 24);

text-align: justify;

width: 10%;

margin-left: auto;

margin-right: auto;

top:54px;

left: 590px;
   


}

.menu li:hover >ul {

display:block;

}
