{% extends "layout.html" %}


{% block content %}




<body>

<div> <h1> ¿Qué es binance? </h1> 

<p>
Binance es la plataforma mas grande de intercambio de criptomonedas en el mundo, en la cual puedes cambiar tu moneda local por cualquier criptomoneda.

En esta plataforma puedes realizar multiples operaciones relacionadas con el trading, el apalancamiento, la compra y venta de tokens no fungibles (NFT), la preventa de nuevas criptomonedas, eventos especiales realizados dentro de la plataforma y para los usuarios de la misma para ganar criptomonedas y mucho mas.
    
Al entrar a binance con lo primero que te vas a encontrar es con su menú principal el cual esta conformado por las opciones de inicio, mercados, trades, futuros y billeteras. 

</p>  

</div>
   

<div> <h1>Referidos</h1> 

<p>
La herramienta de referidos te podrá ayudar a que invites a nuevas personas a la plataforma y si esas personas en un futuro hacen mucho trading entonces iras recibiendo un porcentaje de las comisiones que genere esa persona al hacer dichas operaciones.
Para que puedas invitar a nuevas personas a la plataforma tendrás que ir a la parte de referido estándar y allí tendrás la opción de configuración de referido avanzada en donde tu podrás determinar el porcentaje que te tocara a ti y a tu referido.
Los porcentajes pueden variar entre : 20% para ti y 0% para tu referido , 15% para ti y 5% para tu referido y 10% para ti y 10% para tu referido. 
    
</p>  
    
</div>
   

<div> <h1>Savings</h1> 

<p>
   
<h6>
Es el apartado de binance donde podrás depositar tus criptomonedas con la finalidad de ir recibiendo un interés por las criptomonedas que deposites allí.

En este sitio te encontraras con 3 formas diferentes de depositar tus monedas:

</h6>
<li>
Flexible:
En donde podrás depositar y retirar tus criptomonedas en cualquier momento.
</li>
    
<li> 
Bloqueados :
Es donde podrás depositar tus criptomonedas pero que tendrás que esperar un periodo de tiempo determinado para recuperar las monedas depositadas 

o donde podrás rembolsar tus criptomonedas pero no obtendrás ganancia alguna.
</li>

<li>
Inversión automática:
Es el apartado donde podrás invertir cierta cantidad de dolares durante un periodo determinado de tiempo de forma automatica para comprar criptomonedas.
</li>    
</p>  
    
</div>



<div> <h1> Liquidity Farming </h1> 

<p>

 <h6>En este apartado podremos generan ganancias gracias al aporte liquidez a alguno de los pool de liquidez </h6>   
      
<li>Liquid swap: En este pestaña podrás hacer un intercambio de criptomonedas y la mayor ventaja que veo de hacerlo desde este lugar es el de hacer swap de montos 

menores a 10$ lo cual es muy beneficioso si nosotros disponemos de la lista de los activos digitales que se encuentran en el sitio y necesitamos cambiar cantidades inferiores a 10$.</li>
            
            
<li>            
Liquidez: En esta pestaña podrás aportar liquidez y retirar la liquidez ya previamente depositada para poder generar ingresos en criptomonedas, 

los requisitos mínimos es que necesitaremos tener dos criptomonedas en la cual sea el mismo equivalente el valor en dólares ,es decir, si quieres depositar  en el 

pool de liquidez bnb/usdt necesitaras tener la misma cantidad en dólares en bnb y en usdt.
            
</li>            
            
<li>

Pool: En esta pestaña podrás ver la información de los pool de liquidez y el porcentaje de rendimiento que ofrecen por aportar liquidez.

</li>          
            
<li>

Mi porción: En esta pestaña podrás ver la información de lo que haz depositado en una pool de liquidez  y  ver toda la informacion relacionada a lo que aportas al pool , las ganancias generadas y las perdidas impermanence que eso se debe a la variación en los precios de las criptomonedas y te puede generar una perdida.
            
</li>            
            

<li>
Historial: En este apartado podrás ver la informacion de todos los movimiento realizados en la aplicación de liquidity farming. 
</li>
        
</p>  
        
</div>
           
<div> <h1>Auction de polkadot</h1> 

<p>
En esta pestaña podrás participar en las subastas de las parachains de polkadot tu aportaras tus dot para apoyar a algún proyecto 

y ellos a cambio te recompensaran con sus monedas nativas , al tu apoyar a un proyecto tendrás que bloquear tus monedas de polkadot por un 
periodo de 2 años despues de que estos proyectos allán ganado la subasta de las parachains , de caso contrario si tu apoyaste un proyecto y pierde en las subastas  

se te devolverán tus dot. La cantidad minima para poder participar en la subasta es de 1 dot.
            
</p>  
            
</div>

<div> <h1>Launchpad </h1> 

<p>
En esta pestaña podrás ganar nuevas criptomonedas que sean listadas en binance , los requisitos para poder participar sera el de tener mas de 0.1 BNB que es la moneda de la plataforma de binance.

Al colocar tus BNB en un bloqueo temporal la formula para distribuirte la ganancia sera :(Cantidad de monedas a repartir/ Cantidad de bnb apostados )
        
        
En este apartado también podrás encontrar la opción de binance launchpool el cual funciona de forma parecida a lo que ofrece el servicio de launchpad solo 

que con la diferencia que tus monedas no se bloquearan y que recibirás cada hora cierta cantidad de las monedas que estén regalando , también contaras con otras opciones a

parte de la moneda BNB para poder ganar estas monedas mayormente la moneda que acompaña al BNB en estas campañas es el BUSD o mejor conocido como el dólar de binance .
    
</p>  
    
</div>
       

<div> <h1>Enviar</h1> 

<p>
En esta pestaña podrás enviar tus criptomonedas a otros usuario de binance a traves de su email que posea en binance , su numero de teléfono registrado en binance y su pay id.       
        
</p>  
        
</div>
           



<div> <h1> Pool de mineria</h1> 

<p>
En este apartado podras conectar tu maquina de mineria para que puedas aportar tu hast rate a las piscinas de binance despues de estar conectado cada cierto tiempo 

iras recibiendo recompensas en la criptomoneda que elegiste para minar.  
            
</p>  
            
</div>

<div> <h1>Binance nft</h1> 

<p>
    
En este apartado podrás comprar ,vender y participar en las preventas de los nft que binance apruebe en su mercado nft,también podrás optar para ser un artista nft en 
    
el mercado de binance y montar tu colección. 
                
</p>  
                
</div>



<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8707332660038310"
crossorigin="anonymous"></script>
                          
</body>

{% endblock  %}