{% extends "layout.html" %}


{% block content %}

<title>Bienvenidos a pagina de contacto</title>


<body class="contacto">

<h1>Contactanos en:</h1>



    
  
    

    
<div class="flex-Contenedor">

<div class="flex-item"><a href="https://twitter.com/CryptoFinanzas_?t=qL4670_qgHCqn5WZgKndvA&s=09" target="_blank" > Twitter </a>  </div>

<div class="flex-item"><a href="https://t.me/CryptoFinanzasVnzla" target="_blank"> Telegram </a>   </div>

</div>




<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8707332660038310"
crossorigin="anonymous"></script>

</body>

{% endblock  %}