{% extends "layout.html" %}


{% block content %}

<title>Bienvenidos a pagina de waves</title>


<body>

<div> <h1> ¿Qué es binance? </h1> 

<p>
Binance es la plataforma mas grande de intercambio de criptomonedas en el mundo, en la cual puedes cambiar tu moneda local por cualquier criptomoneda.
        
        En esta plataforma puedes realizar multiples operaciones relacionadas con el trading, el apalancamiento, la compra y venta de tokens no fungibles (NFT), la preventa de nuevas criptomonedas, eventos especiales realizados dentro de la plataforma y para los usuarios de la misma para ganar criptomonedas y mucho mas.
            
        Al entrar a binance con lo primero que te vas a encontrar es con su menú principal el cual esta conformado por las opciones de inicio, mercados, trades, futuros y billeteras. 
        
        </p>  
        
        </div>


</body>

{% endblock  %}