{% extends "layout.html" %}


{% block content %}

<title>Bienvenidos a pagina de waves</title>


<body>

<div> <h1> ¿Qué es waves? </h1> 

<p>
Es un proyecto blockchain que está escrito en lenguaje de programación Scala y que utiliza un protocolo de consenso basado en PoS. El uso del lenguaje
 Scala en Waves responde a la necesidad de utilizar un lenguaje de programación seguro y extensible. Mientras que el uso de un algoritmo de 
consenso basado en PoS, responde a la necesidad de ofrecer velocidad y escalabilidad en su ejecución.        
</p>  
        
</div>

<div> <h1>Prueba de Participación</h1> 

<p>
    Waves utiliza una variante propia del protocolo de consenso de Proof of Stake (PoS-Prueba de Participación), conocido como 
    LPoS o Prueba de Participación Arrendada.         El objetivo de LPoS es brindar escalabilidad y velocidad a la 
    validación de transacciones en la red. La diferencia es que tu stacking  puedes hacerlo por medio de leasing o arrendamiento a un nodo completo 
    
    que esté corriendo en la red, con el fin de obtener ganancias por dicha tarea.

    En todo caso, para ejecutar un nodo completo con capacidad de validación necesitas realizar un staking de 10.000 tokens WAVES, 
    
    pero en caso de que no tengas dicha cantidad puedes arrendar tus tokens y colocarlos en un pool para obtener ganancias por el depósito de los tokens.       
</p>  
            
</div>

<div> <h1> Dapps y smart contracts </h1> 

    <p>
        Son parte fundamental de las posibilidades de esta red. Sin embargo, en Waves existen grandes diferencias entre sus smart contracts 
        y los de plataformas como Ethereum o EOS. En primer lugar, los smart contracts de Waves no son Turing Completo, es decir, no son capaces
         de crear todo tipo de programas que puedas imaginar. Esto que puede ser visto como una debilidad, es de hecho, su mayor fortaleza, ya 
         que los smart contracts de Waves son extremadamente seguros. Y si bien, existe la intención de ofrecer un soporte Turing Completo, Waves 
         de momento se mantiene con la primera opción.        
    </p>  

<p>Un punto adicional de contar con smart contracts es que Waves puede crear tokens (fungibles y no-fungibles) y dApps ajustadas 
a las necesidades de los desarrolladores. De hecho, se pueden crear tokens de forma muy fácil, incluso con el cliente ligero oficial para 
smartphones iOS y Android. La creación de un smart contracts para un token, por ejemplo, está prácticamente automatizada y tiene un coste muy bajo, 
de solo 1 Wave</p>
</div>


</body>

{% endblock  %}